<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <driver>mysql</driver>
    <address>192.168.1.1:3306</address>
    <database>test</database>
    <username>test</username>
    <password>test</password>
    <max_life_time>0</max_life_time>
    <max_open_conns>10</max_open_conns>
    <max_idle_conns>5</max_idle_conns>
</config>